<nav class="bg-gray-800 border-b border-gray-700">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <!-- Logo -->
        <div class="flex items-center flex-shrink-0">
          <a routerLink="">
            <img src="../assets/apmin.png" alt="apmin" class="w-10" />
          </a>
        </div>

        <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
          <a routerLink="/home" routerLinkActive="border-gray-400" ariaCurrentWhenActive="page"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out border-b-2 border-transparent focus:outline-none hover:text-gray-400">
            Inicio
          </a>
          <a routerLink="/admin" routerLinkActive="border-gray-400" ariaCurrentWhenActive="page" *ngIf="authService.canActivate()"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out border-b-2 border-transparent focus:outline-none hover:text-gray-400">
            Envíos
          </a>
          <a href="/ship/1" *ngIf="!authService.canActivate()"
            class="inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out border-b-2 border-transparent focus:outline-none hover:text-gray-400">
            Muestra
          </a>
        </div>
        
      </div>

      <div class="hidden sm:flex sm:items-center sm:ml-6" *ngIf="authService.canActivate()">
        <app-menu-profile [name]="this.user?.name"></app-menu-profile>
      </div>
      <div class="hidden sm:flex sm:items-center sm:ml-6" *ngIf="!authService.canActivate()">
        <a routerLink="/login" routerLinkActive="border-gray-400" ariaCurrentWhenActive="page"
        class="inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out border-b-2 border-transparent focus:outline-none">
        Iniciar Sesión
      </a>       
      </div>


      <div class="flex items-center -mr-2 sm:hidden">
        <button (click)="mobileMenuHandler()"
          class="inline-flex items-center justify-center p-2 text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-gray-500 hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-gray-500"><svg
            class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="mobileMenu" class="sm:hidden">
    <div class="pt-4 pb-1 border-t border-gray-600">
      <div class="items-center px-4 ">
        <div>
          <div class="py-2 text-base font-medium text-gray-200">{{this.user?.name}}</div>
          <div class="border-b-2 border-gray-500"></div>
        </div>
      </div>
      <div class="mt-3 space-y-1">
        <div>
          <a routerLink="/home" ariaCurrentWhenActive="page"
          class="block py-2 pl-3 pr-4 text-base font-medium text-gray-200 transition duration-150 ease-in-out border-l-4 border-transparent hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300">
            Inicio
          </a>
        </div>
        <div>
          <a routerLink="/admin" ariaCurrentWhenActive="page" *ngIf="authService.canActivate()"
          class="block py-2 pl-3 pr-4 text-base font-medium text-gray-200 transition duration-150 ease-in-out border-l-4 border-transparent hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300">
            Envíos
          </a>
        </div>
        <button
          (click)="logout()"
          class="block w-full py-2 pl-3 pr-4 text-base font-medium text-left text-gray-200 transition duration-150 ease-in-out border-l-4 border-transparent hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300">
          Cerrar Sesión
        </button>
        </div>
    </div>
  </div>
</nav>