<main>
    <div class="py-12">
        <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="overflow-hidden bg-gray-800 shadow-xl sm:rounded-lg">
                <div>
                    <div class="flex flex-row justify-between p-6 bg-gray-800 border-b border-gray-700 sm:px-20">
                        <div class="flex flex-col">
                            <div class="mt-2 text-2xl text-gray-200"> Lista de envíos </div>
                            <div class="mt-4 text-gray-400"> Aca se listan tus envíos, segun el color es su estado </div>
                        </div>
                        <div class="self-center cursor-pointer" (click)="newSend()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
                        </div>
                    </div>
                    <div class="bg-gray-800 bg-opacity-25">

                        <div class="p-6 border-t border-gray-700" *ngIf="createSend">
                            <div class="ml-4 text-lg font-semibold leading-7 text-gray-200">
                                Crear nuevo envío
                            </div>
                            <div class="ml-4">
                                <div class="w-full mb-6">
                                    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Titulo del envío</label>
                                    <input [(ngModel)]="createSendTitle" type="text" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Titulo del envio" required>
                                </div>
                                <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Pasos del envío </div>
                                <div class="w-full mb-2" *ngFor="let step of createSendArray; index as i;">
                                    <input [(ngModel)]="createSendArray[i].description" type="text" id="step{{i}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre del punto o paso {{i+1}}" required>
                                </div>
                                <div class="flex justify-center mb-2 text-sm font-medium text-gray-900 cursor-pointer dark:text-gray-300" (click)="addStep()">
                                     <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg> 
                                </div>
                            </div>
                            <div class="flex justify-end">
                                <button type="submit" class="ml-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="createShip()">Submit</button>
                            </div>
                        </div>

                        <div class="p-6 border-t border-gray-700">
                            <div class="flex items-center">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-8 h-8 text-gray-200">
                                    <path d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
                                    </path>
                                </svg>
                                <div class="ml-4 text-lg font-semibold leading-7 text-gray-200">
                                    <a href="https://tailwindcss.com/">Titulo del envio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>